<tg-actor [id]="'background'">
	<pixi-sprite [bound]="true" [imageUrl]="'assets/background/layer_05.png'"
		[tiled]="{x: 1920, y: 1080}">
		<tg-property key="SCALE" [value]="scale"></tg-property>
		<tg-property key="TILE_POSITION" [value]="posLayer5"></tg-property>
	</pixi-sprite>
	<pixi-sprite [bound]="true" [imageUrl]="'assets/background/layer_04.png'"
		[tiled]="{x: 1920, y: 1080}">
		<tg-property key="SCALE" [value]="scale"></tg-property>
		<tg-property key="TILE_POSITION" [value]="posLayer4"></tg-property>
	</pixi-sprite>
	<pixi-sprite [bound]="true" [imageUrl]="'assets/background/layer_03.png'"
		[tiled]="{x: 1920, y: 1080}">
		<tg-property key="SCALE" [value]="scale"></tg-property>
		<tg-property key="TILE_POSITION" [value]="posLayer3"></tg-property>
	</pixi-sprite>
	<pixi-sprite [bound]="true" [imageUrl]="'assets/background/layer_02.png'"
		[tiled]="{x: 1920, y: 1080}">
		<tg-property key="SCALE" [value]="scale"></tg-property>
		<tg-property key="TILE_POSITION" [value]="posLayer2"></tg-property>
	</pixi-sprite>
	<pixi-sprite [bound]="true" [imageUrl]="'assets/background/layer_01.png'"
		[tiled]="{x: 1920, y: 1080}">
		<tg-property key="SCALE" [value]="scale"></tg-property>
		<tg-property key="TILE_POSITION" [value]="posLayer1"></tg-property>
	</pixi-sprite>
</tg-actor>